openapi: 3.0.0

info:
  version: '1.0'
  title: 'Scrumbled Web API'
  description: 'Web Resources Specification (A7) for Scrumbled'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://gitlab.up.pt/lbaw/lbaw2425/lbaw24113/-/wikis/home

tags:
  - name : 'M01 - Auth'
  - name : 'M02 - Profile'
  - name : 'M03 - Project'
  - name : 'M04 - Sprint'
  - name : 'M05 - Task'
  - name : 'M06 - Admin'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Login UI'
      description: 'Get the Login Page UI. Access: PUB.'
      tags:
        - 'M01 - Auth'
      responses:
        '200':
          description: 'Ok. Show Login UI'
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB.'
      tags:
        - 'M01 - Auth'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect occurs after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/users/{username}'
        '401':
              description: 'Failed authentication, incorrect password.'
        '404':
              description: 'Failed, user not found.'
  /register:
    get:
      operationId: R103
      summary: 'R103: Register UI'
      description: 'Get the Registration Page UI. Access: PUB.'
      tags:
        - 'M01 - Auth'
      responses:
        '200':
          description: 'Ok. Show Register UI.'
    post:
      operationId: R104
      summary: 'R104: Register Action'
      description: 'Processes the Register Form submission. Access: PUB.'
      tags:
        - 'M01 - Auth'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                bio:
                  type: string
                fullname:
                  type: string
                email:
                  type: string
                password:
                  type: string
                picture:
                  type: string
                  format: binary
              required:
                - username
                - email
                - password
      responses:
        '302':
          description: 'Redirect occurs after processing the login credentials. Access: PUB.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Account created successfully. Redirecting to projects.'
                  value: '/projects'
                302Error:
                  description: 'Failure while creating account.'
                  value: '/register'
  /logout:
    post:
      operationId: R105
      summary: 'R105: Logout Action'
      description: 'Logout the current authenticated used. Access: USR.'
      tags:
        - 'M01 - Auth'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to Login UI.'
                  value: '/login'
                302Error:
                  description: 'Unsuccessful logout. Redirect to projects.'
                  value: '/projects'
        '403':
          description: 'Access denied.'

  /profiles:
    get:
      operationId: R201
      summary: 'R201: View profiles page'
      description: 'Show the profiles page. Access: PUB.'
      tags:
        - 'M02 - Profile'
      responses:
        '200':
          description: 'Success. Show Profiles UI'
        '404':
          description: 'Project was not found.'
        '403':
          description: Access Denied
  
  /profiles/{username}:
    get:
      operationId: R202
      summary: 'R202: User Profile UI'
      description: 'Get the user profile. Access: PUB.'
      tags:
        - 'M02 - Profile'
      responses:
        '200':
          description: 'Ok. Show user profile.'
        '404':
          description: 'User was not found.'
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
  /profiles/{username}/edit:
    get:
      operationId: R203
      summary: 'R203: Edit User Profile'
      description: 'Get page for user profile editing. Access: OWN.'
      tags:
        - 'M02 - Profile'
      parameters:
        - in: path
          name : username
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Show the page for editing the user profile.'
        '403':
          description: 'Access Denied.'
        '404':
          description: 'User was not found.'
    post:
      operationId: R204
      summary: 'R204: Edit User Profile Action'
      description: 'Processes the Edit User Profile Form submission. Access: OWN.'
      tags:
        - 'M02 - Profile'
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                username:
                  type: string
                bio:
                  type: string
                fullname:
                  type: string
                email:
                  type: string
                password:
                  type: string
                picture:
                  type: string
              required:
                - id
      responses:
        '302':
          description: 'Redirect after user profile edit.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Profile has been edited successfully. Redirecting to profile'
                  value: '/profiles/{username}'
                302Error:
                  description: 'Failure while updating profile.'
                  value: '/profiles/{username}/edit'
        '403':
          description: Access Denied
        '404':
          description: 'User was not found.'
          
  /api/profiles/search:
    get:
      operationId: R205
      summary: 'R205: Search Profiles'
      description: 'Does an exact-match search on user profiles. Access: PUB.'
      tags:
        - 'M02 - Profile'
      parameters:
        - in: query
          name : username
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    username:
                      type: string
                    full_name:
                      type: string
                    email:
                      type: string
                    picture:
                      type: string
                  example:
                    - id: 1
                      username: "johndoe"
                      full_name: "John Doe"
                      email: "johndoe@example.com"
                      picture: "https://example.com/profiles/johndoe.jpg"
  /projects:
    get:
      operationId: R301
      summary: 'R301: Projects page'
      description: 'Returns all public projects, with optional filters for search. Access: PUB.'
      tags:
        - 'M03 - Project'
      parameters:
        - in: query
          name: type
          description: Filter projects by type (Public, MyProjects, Favorites, Archive).
          schema:
            type: string
            default: Public
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    slug:
                      type: string
                    description:
                      type: string
                    favorite:
                      type: boolean
                  example:
                    - title: Test Project
                      slug: test_project
                      description: "This is a test project for demonstration purposes."
                      favorite: false
        '302':
          description: Login Required.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirecting to login.'
                  value: '/login'
  /projects/new:
    get:
      operationId: R302
      summary: 'R302: Project create UI'
      description: 'Get the Project creation form. Access: USR.'
      tags:
        - 'M03 - Project'
      responses:
        '200':
          description: 'Ok. Show Project Create UI'
        '302':
          description: Login Required.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirecting to login.'
                  value: '/login'
    post:
      operationId: R303
      summary: 'R303: Create a new project'
      description: 'Creates a new project with the specified details. Access: USR.'
      tags:
        - 'M03 - Project'
      requestBody:
        description: The details of the project to be created.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                is_public:
                  type: boolean
                  default: false
                is_archived:
                  type: boolean
                  default: false
              required:
                - title
              example:
                title: "New Project X"
                description: "We would do things here"
                is_public: true
                is_archived: false
      responses:
        '302':
          description: 'Redirect after creating the new project'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successfully created a new project. Redict to the new project.'
                  value: '/projects/{slug}'
                302Failure:
                  description: 'Error while creating the project. Redirect to projects page.'
                  value: '/projects'
        '403':
          description: Access Denied
  /projects/{slug}:
    get:
      operationId: R304
      summary: 'R304: View project page'
      description: 'Show the individual project page. Access: PUB.'
      tags:
        - 'M03 - Project'
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Success. Show Project Page UI'
        '403':
          description: Access Denied
        '404':
          description: 'Project was not found.'
  /projects/{slug}/invite:
    get:
      operationId: R305
      summary: 'R305: Add user to Project UI'
      description: 'Get the Add user to Project form. Access: OWN.'
      tags:
        - 'M03 - Project'
      responses:
        '200':
          description: 'Ok. Show Add User UI'
        '403':
          description: Access Denied
        '404':
          description: 'Project was not found.'
    post:
      operationId: R306
      summary: 'R306: Add User to Project'
      description: 'Adds a user to the project Access: USR.'
      tags:
        - 'M03 - Project'
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
      requestBody:
        description: The details of the user to add to the project.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                id:
                  type: integer
                email:
                  type: string
              oneOf:
                - required: [username]
                - required: [user_id]
                - required: [email]
      responses:
        '200':
          description: User successfully added to the project.
        '404':
          description: 'Project was not found.'
        '403':
          description: Access Denied.

  /projects/{slug}/backlog:
    get:
      operationId: R307
      summary: 'R307: View project backlog page'
      description: 'Show the individual project backlog. Access: PUB.'
      tags:
        - 'M03 - Project'
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Success. Show Project Backlog UI'
        '404':
          description: 'Project was not found.'
        '403':
          description: Access Denied

  /projects/{slug}/team:
    get:
      operationId: R308
      summary: 'R308: View project team page'
      description: 'Show the project team page. Access: PUB.'
      tags:
        - 'M03 - Project'
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Success. Show Project Team UI'
        '404':
          description: 'Project was not found.'
        '403':
          description: Access Denied
  
  /projects/{slug}/sprints:
      get:
        operationId: R401
        summary: 'R401: List all sprints for a project'
        description: 'Retrieve a list of all sprints belonging to a project. Access: USR.'
        tags:
          - 'M04 - Sprint'
        parameters:
          - in: path
            name: slug
            description: Project identifier for which to list sprints
            schema:
              type: string
            required: true
        responses:
          '200':
            description: 'Ok. List of sprints retrieved successfully.'
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      start_date:
                        type: string
                        format: date
                      end_date:
                        type: string
                        format: date
                      is_open:
                        type: boolean
          '404':
            description: 'Project not found.'
          '403':
            description: 'Access Denied.'
          '302':
            description: Login Required.
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Redirecting to login.'
                    value: '/login'
  /projects/{slug}/sprints/new:
    get:
      operationId: R402
      summary: 'R402: Create a new Sprint UI'
      description: 'Get the Create Sprint form. Access: USR.'
      tags:
        - 'M04 - Sprint'
      parameters:
        - in: path
          name: slug
          description: Project where I'm creating a sprint
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Show Create Sprint UI'
        '302':
          description: Login Required.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirecting to login.'
                  value: '/login'
        '403':
          description: Access Denied
        
    post:
      operationId: R403
      summary: 'R403: Create a new Sprint'
      description: 'Creates a new sprint with the specified details. Access: USR.'
      tags:
        - 'M04 - Sprint'
      parameters:
        - in: path
          name: slug
          description: Project where I'm creating a sprint
          schema:
            type: string
          required: true
      requestBody:
        description: The details of the sprint to add to the project.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                is_open:
                  type: boolean
      responses:
        '200':
          description: Sprint created successfully.
        '404':
          description: Project not found.
        '403':
          description: Access Denied
        '302':
          description: Login Required.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirecting to login.'
                  value: '/login'
                302Error:
                  description: 'Failure while creating a sprint.'
                  value: '/project/{slug}/backlog'

  /sprints/{id}/edit:
    get:
      operationId: R404
      summary: 'R404: Edit sprint UI'
      description: 'Get the Edit Sprint form. Access: USR.'
      tags:
        - 'M04 - Sprint'
      responses:
        '200':
          description: 'Ok. Show Edit Sprint UI'
    post:
      operationId: R405
      summary: 'R405: Edit sprint details'
      description: 'Edits the details of a sprint. Access: USR.'
      tags:
        - 'M04 - Sprint'
      parameters:
        - in: path
          name: id
          description: Sprint identifier
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlenconded:
            schema:
              type: object
              properties:
                name:
                  type: string
                start_date:
                  type: integer
                end_date:
                  type: integer
      responses:
        '200':
          description: 'Ok. Task details edited'
        '404':
          description: 'Task not found.'
        '403':
          description: 'Access denied.'
  /sprints/{id}/close:
    post:
      operationId: R406
      summary: 'R406 - Close a sprint'
      description: 'Mark the sprint as closed. Access: USR.'
      tags:
        - 'M04 - Sprint'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Task successfully accepted.
        '403':
          description: Access denied.
        '404':
          description: Task not found. 
          
  /sprints/{id}:
    get:
      operationId: R407
      summary: 'R407: View sprint details'
      description: 'Retrieve the details of a specific sprint. Access: USR.'
      tags:
        - 'M04 - Sprint'
      parameters:
        - in: path
          name: id
          description: Sprint identifier
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Sprint details retrieved successfully.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  start_date:
                    type: string
                    format: date
                  end_date:
                    type: string
                    format: date
                  is_open:
                    type: boolean
                  tasks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        status:
                          type: string
        '404':
          description: 'Sprint not found.'
        '403':
          description: 'Access Denied.'
        '302':
          description: Login Required.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirecting to login.'
                  value: '/login'

  /projects/{slug}/tasks/new:
    get:
      operationId: R501
      summary: 'R501: Create task UI'
      description: 'Get the Create Task form. Access: USR.'
      tags:
        - 'M05 - Task'
      parameters:
        - in: path
          name: slug
          description: Project where I'm creating a task
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Show Create Task UI'
        '302':
          description: Login Required.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirecting to login.'
                  value: '/login'
        '403':
          description: Access Denied
        
    post:
      operationId: R502
      summary: 'R502: Create a new Task'
      description: 'Creates a new task with the specified details. Access: USR.'
      tags:
        - 'M05 - Task'
      parameters:
        - in: path
          name: slug
          description: Project where I'm creating a task
          schema:
            type: string
          required: true
      requestBody:
        description: The details of the user to add to the project.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                value:
                  type: string
                  enum: ['must_have', 'should_have', 'could_have', 'will_not_have']
                effort:
                  type: integer
              required:
                - title
      responses:
        '200':
          description: Task created successfully.
        '404':
          description: Project not found.
        '403':
          description: Access Denied
        '302':
          description: Login Required.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Redirecting to login.'
                  value: '/login'
                302Error:
                  description: 'Failure while creating a task.'
                  value: '/project/{slug}/backlog'
                  
  /tasks/{id}:
    get:
      operationId: R503
      summary: 'R503: View task details'
      description: 'Show the task details. Access: PUB.'
      tags:
        - 'M05 - Task'
      parameters:
        - in: path
          name: slug
          description: project slug
          schema:
            type: string
          required: true
        - in: path
          name: id
          description: Task identifier
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Show task details.'
        '403':
          description: 'Access Denied'
        '404':
          description: 'Task not found.'

  /projects/{slug}/tasks/{id}/edit:
    get:
      operationId: R504
      summary: 'R504: Edit task UI'
      description: 'Get the Edit Task form. Access: USR.'
      tags:
        - 'M05 - Task'
      responses:
        '200':
          description: 'Ok. Show Edit Task UI'
    post:
      operationId: R505
      summary: 'R505: Edit task (in backlog) details'
      description: 'Edits the details of a task. Access: USR.'
      tags:
        - 'M05 - Task'
      parameters:
        - in: path
          name: slug
          description: project slug
          schema:
            type: string
          required: true
        - in: path
          name: task_id
          description: Task identifier
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlenconded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                assigned_to:
                  type: string
                value:
                  type: string
                  enum: [must-have, should-have, could-have, will-not-have]
                effort:
                  type: integer
                  enum: [1, 2, 3, 5, 8, 13]
                state:
                  type: string
                  enum: [backlog, sprint-backlog, in-progress, done, accepted]
              required:
                - title
                - state
      responses:
        '200':
          description: 'Ok. Task details edited'
        '404':
          description: 'Task not found.'
        '403':
          description: 'Access denied.'
  /tasks/{id}/state:
    post:
      operationId: R506
      summary: 'R506 - Update task state'
      description: 'Update the task state. Access: USR.'
      tags:
        - 'M05 - Task'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        description: The task to be updated.
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id:
                  type: integer
                state:
                  type: string
                  enum: [backlog, sprint-backlog, in-progress, done, accepted]
              required:
                - id
                - state
      responses:
        '200':
          description: Successfully assigned to task.
        '403':
          description: Access denied.
        '404':
          description: Task not found.

  /api/projects/{slug}/tasks/search:
    get:
      operationId: R507
      summary: 'R507: Search Tasks'
      description: 'Does an full-text search on tasks. Access: PUB.'
      tags:
        - 'M05 - Task'
      parameters:
        - in: query
          name: slug
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                    description:
                      type: string
                    value:
                      type: string
                      enum: ['must_have', 'should_have', 'could_have', 'will_not_have']
                    state:
                      type: string
                      enum: [backlog, sprint-backlog, in-progress, done, accepted]
                    effort:
                      type: integer
                      enum: [1, 2, 3, 5, 8, 13]

  /tasks/{id}/assign:
    post:
      operationId: R508
      summary: 'R508: Assign a task to a user'
      description: 'Assigns the specified task to a user. Access: USR.'
      tags:
        - 'M05 - Task'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: Task identifier to assign
      requestBody:
        description: The user ID to whom the task is being assigned
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: The ID of the user to assign the task to
                  example: 42
      responses:
        '200':
          description: 'Task assigned successfully.'
        '404':
          description: 'Task or user not found.'
        '403':
          description: 'Access Denied.'
        '422':
          description: 'Validation failed (e.g., user cannot be assigned this task).'
        '302':
          description: Login Required.
          headers:
            Location:
              schema:
                type: string
              examples:
                302Redirect:
                  description: 'Redirecting to login.'
                  value: '/login'

  /projects/{slug}/tasks:
    get:
      operationId: R509
      summary: 'R509: View project tasks page'
      description: 'Show the project tasks page. Access: PUB.'
      tags:
        - 'M05 - Task'
      parameters:
        - in: path
          name: slug
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Success. Show Project Tasks UI'
        '404':
          description: 'Project was not found.'
        '403':
          description: Access Denied
    
  /admin/users:
    get:
      operationId: R601
      summary: 'R601: Search user accounts'
      description: 'Retrieve list of user accounts with filtering. Access: ADM.'
      tags:
        - 'M06 - Admin'
      parameters:
        - in: query
          name: query
          description: 'String to search for user accounts'
          schema:
            type: string
          required: false
        - in: query
          name: status
          description: 'Filter user accounts by status'
          schema:
            type: string
            enum: [needs-confirmation, banned, active]
          required: false
      responses:
        '200':
          description: 'Ok. List of user accounts returned.'
          content:
            application/x-www-form-urlencoded:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    username:
                      type: string
                    full_name:
                      type: string
                    picture:
                      type: string
                    email:
                      type: string
                    status:
                      type: string
        '400':
          description: 'User account not found.'
  /admin/users/{username}/edit:
    get:
      operationId: R602
      summary: 'R602: View user account details for editing'
      description: 'Gets the deetails of the user account to be edited. Access: ADM.'
      tags:
        - 'M06 - Admin'
      parameters:
        - in: path
          name: username
          description: 'Username of the account to view'
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. User account details returned'
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  full_name:
                    type: string
                  picture:
                    type: string
                  bio:
                    type: string
                  email:
                    type: string
                  status:
                    type: string
        '400':
          description: 'User account not found.'
    post:
      operationId: R603
      summary: 'R603 - Edit user account'
      description: 'Edits a user account. Access: ADM.'
      tags:
        - 'M06 - Admin'
      parameters:
        - in: path
          name: username
          description: 'Username of the account to edit.'
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: 'Edited username for the user account.'
                full-name:
                  type: string
                  description: 'Edited full name for the user account.'
                bio:
                  type: string
                  description: 'Edited bio for the user account.'
                picture:
                  type: string
                  description: 'Edited picture path for the user account.'
                email:
                  type: string
                  format: email
                  description: 'Edited email address for the user account.'
                password:
                  type: string
                  format: password
                  description: 'Edited password for the user account.'
                status:
                  type: string
                  enum: [needs-confirmation, banned, active]
                  description: 'Edited status for the user account.'
      responses:
        '200':
          description: 'Ok. User account edited'
        '400':
          description: 'User account not found or Editing invalid.'

  /admin/users/{username}/ban:
    post:
      operationId: R604
      summary: 'R604 - Ban user account'
      description: 'Bans a user account. Access: ADM.'
      tags:
        - 'M06 - Admin'
      parameters:
        - in: path
          name: username
          description: 'Username of the account to edit.'
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: 'Edited username for the user account.'
                full-name:
                  type: string
                  description: 'Edited full name for the user account.'
                bio:
                  type: string
                  description: 'Edited bio for the user account.'
                picture:
                  type: string
                  description: 'Edited picture path for the user account.'
                email:
                  type: string
                  format: email
                  description: 'Edited email address for the user account.'
                password:
                  type: string
                  format: password
                  description: 'Edited password for the user account.'
                status:
                  type: string
                  enum: [needs-confirmation, banned, active]
                  description: 'Edited status for the user account.'
      responses:
        '200':
          description: 'Ok. User account banned'
        '400':
          description: 'User account not found or ban invalid.'

  /admin/users/{username}/unban:
    post:
      operationId: R605
      summary: 'R605 - Unban user account'
      description: 'Unbans a user account. Access: ADM.'
      tags:
        - 'M06 - Admin'
      parameters:
        - in: path
          name: username
          description: 'Username of the account to edit.'
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  description: 'Edited username for the user account.'
                full-name:
                  type: string
                  description: 'Edited full name for the user account.'
                bio:
                  type: string
                  description: 'Edited bio for the user account.'
                picture:
                  type: string
                  description: 'Edited picture path for the user account.'
                email:
                  type: string
                  format: email
                  description: 'Edited email address for the user account.'
                password:
                  type: string
                  format: password
                  description: 'Edited password for the user account.'
                status:
                  type: string
                  enum: [needs-confirmation, banned, active]
                  description: 'Edited status for the user account.'
      responses:
        '200':
          description: 'Ok. User account unbanned'
        '400':
          description: 'User account not found or unban invalid.'

  /admin/users/{username}:
    get:
      operationId: R606
      summary: 'R606: View user account details'
      description: 'Gets the user account. Access: ADM.'
      tags:
        - 'M06 - Admin'
      parameters:
        - in: path
          name: username
          description: 'Username of the account to view'
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. User account details returned'
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  username:
                    type: string
                  full_name:
                    type: string
                  picture:
                    type: string
                  bio:
                    type: string
                  email:
                    type: string
                  status:
                    type: string
        '400':
          description: 'User account not found.'

  /admin/login:
    get:
      operationId: R607
      summary: 'R607: Admin Login UI'
      description: 'Get the Admin Login Page UI. Access: ADM.'
      tags:
        - 'M06 - Admin'
      responses:
        '200':
          description: 'Ok. Show Admin Login UI'
    post:
      operationId: R608
      summary: 'R608: Admin Login Action'
      description: 'Processes the admin login form submission. Access: ADM.'
      tags:
        - 'M06 - Admin'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302':
          description: 'Redirect occurs after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to users list.'
                  value: '/admin/users'
        '401':
              description: 'Failed authentication, incorrect password.'
        '404':
              description: 'Failed, admin not found.'
  
  /admin/users/create:
    get:
        operationId: R609
        summary: 'R609: Admin user creation UI'
        description: 'Get the Admin user creation page UI. Access: ADM.'
        tags:
          - 'M06 - Admin'
        responses:
          '200':
            description: 'Ok. Show Admin user creation UI'
    post:
        operationId: R610
        summary: 'R610: Admin user creation Action'
        description: 'Creates a new user. Access: ADM.'
        tags:
          - 'M06 - Admin'
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  email:
                    type: string
                  password:
                    type: string
                required:
                  - email
                  - password
        responses:
          '302':
            description: 'Redirect occurs after creating a user.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Success:
                    description: 'Successful user creation. Redirect to users list.'
                    value: '/admin/users'
          '401':
                description: 'Failed user creation.'
          '404':
                description: 'Failed, admin not found.'

    
    